#inscription{
    font-size: 27px;
    padding-top: 5px;
    padding-bottom: 5px;
     background-color: papayawhip;
    border-radius: 30px;
    width: 58%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 290px;
    margin-bottom: -275px;
    z-index: 1;
    margin-top: 90px;
}

footer{
    margin-top: -30px;
}
label{
    margin-right: 5px;
    margin-left: 5px;
}
form{
    background-color: rgb(209, 153, 252);
    width: 58%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 25px;
    z-index: 10000;
    margin-bottom: 150px;

}
p{
    font-size: 18px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 25px;
}

input{

    border-radius: 5px;
    margin-right: 10px;
}

#Envoyer{


    font-family: Comic Sans MS;
    color:black;
    font-size:22px;
    border:solid 4px papayawhip;
    border-radius: 8px;
    background-color:rgb(209, 153, 252) ;
    padding-right: 5px;
    padding-left: 5px;
}

#Envoyer:hover{
    transform: scale(1.2);
}